*.webp filter=lfs diff=lfs merge=lfs -text
*.rbxm filter=lfs diff=lfs merge=lfs -text
*.rbxl filter=lfs diff=lfs merge=lfs -text
*.luau linguist-language=Lua
sourcemap.json filter=lfs diff=lfs merge=lfs -text